<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{74,0},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,75}</string>
                <key>spriteSourceSize</key>
                <string>{74,75}</string>
                <key>textureRect</key>
                <string>{{148,0},{74,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xscore.png</string>
            <key>size</key>
            <string>{222,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be81f0df879591031aa5c6a94d7ed1aa:3257fbb2a4b84e88df633cad1ae1825a:6ad77d5784b539e8ed94510442bd3b34$</string>
            <key>textureFileName</key>
            <string>xscore.png</string>
        </dict>
    </dict>
</plist>
